/* Site navigation*/

div.site-navigation {
	background-color: #DDEEB5;
	grid-area: site-navigation;
}

.site-navigation * li {
	display: inline-block;
}


@media only screen and (min-width: 800px) {
	.site-navigation * li {
		display: block;
	}
}
